# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# TURSO DATABASE: LibSQL database URL and Auth Token
# If not provided, an automatic resilient local sqlite database will be used.
TURSO_DATABASE_URL="libsql://asukaimmo-asukaimmo.aws-ca-central-1.turso.io"
TURSO_AUTH_TOKEN="eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTEwNDEyNTEsImlkIjoiMDFhMGZkZWYtOGYwMS03MWEyLWE1ZGQtNjE2ODI2NmIyYzdmIiwia2lkIjoiek9OOVd3SHV4dEo2cVhRbVdIYUotR3ZYWVM3cTlqLUs1OU9PQUw0LTRCbyIsInJpZCI6IjA1N2QxMzI4LWJjM2UtNDA1NC1hZDBjLWU0NGU4NDU2ZTI0YiJ9.tlOjcVLWvM-4pK14nvu-VDkf-OrSW2KzHeUqdnQEtFzK3CrGHn5rBRGjDJqZDF4O72OaCBpkTWP6FejkxYXwCw"


